# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Dist build files
dist/
build/

# System files
.DS_Store
Thumbs.db

# Env Files
.env
.env.local
.env.production
.env.development

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# Logs
logs/
*.log
